
:root{
    --max-width: 70vh;
    --min-width: 400px;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #1f1f1f;
    animation: color-change 30s infinite;
}

  
  @keyframes color-change {
    0% { color: white; }
    50% { color: whitesmoke; }
    65% { color: white; }
    75% { color: whitesmoke; }
    95% { color: white; }
    100% { color:transparent; }
  }
.grid1 {
    display: grid;
    max-width: 75vh;
    min-width: 400px;
    max-height: calc(max-content+30px);
    padding: 5vh;
    margin: 0 auto;

    grid-template-areas: 
    "p q g g"
    "m m g g"
    "e e g g"
    "f f g g"

}

.pp {
    grid-area: p, q;
}

.mm {
    grid-area: m, e, f;
}

.gg {
    grid-area: g;
}

.item1{
    text-align: center;
    background-color: #365a5a;
    text-shadow: 2px 2px #2f4f4f;
    padding: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: calc(1vw - 1vh) calc(2vw - 2vh - 3px) calc(1vw - 1vh) calc(2vw - 2vh - 3px);
}

.item1:hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;
    font-size: 110%;
    text-shadow: 150%;
}

.item1-l{
    text-align: center;
    line-break:strict;
}

.item1-l:hover{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;
    font-size: 110%;
    text-shadow: 150%;
}

.box {
    box-sizing: content-box;
    background: #2f4f4f;
    box-shadow: black 2px 2px ;
    border-radius: 2vh;
    gap: 5px;
    margin: 10px;
    padding: 10px;
    text-shadow: #1f1f1f 2px 1px;
}

